

block content
  h1= title
  
  ul
  each user in user_list
    li 
      ID First_Name : #{user.firstname} ,
      ID Last_Name : #{user.lastname} ,
      ID User_ID/Email_ID : #{user.userid} ,
      ID Age : #{user.age} ,
      ID Phone_Number : #{user.phonenumber} ,
      ID Role : #{user.role}

  else
    li There are no users found.